In [38]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:85%;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
</style>
"""))

<b><font color="red" size="6">ch03. 데이터 구조</font></b>
- 리스트[], 튜플(), 딕셔너리(hashMap과 유사), 셋

#  1절. 리스트

## 1.1 리스트 만들기
    - []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
    - list()함수 이용도 가능
    - 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
    - 슬라이싱([from:to:by]) : 부분 데이터셋을 추출. 
    - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [10]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [11]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [12]:
print(fruits[0])

banana

In [13]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

x = mango
y = apple
z = orange

In [15]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의
            # 숫자를 순차적으로 사용할 수 있게 
            # from 생략시 0, by 생략시 1
range(10)

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [19]:
list(range(10,-1, -2))

[10, 8, 6, 4, 2, 0]

In [20]:
for i in [0,1,2]:
    print(i)

0
1
2

In [21]:
for i in range(3): # 0~2
    print(i)

0
1
2

In [22]:
for fruit in fruits:
    print(fruit)

mango
apple
orange

In [25]:
fruits = ['mango', 'apple', 'orange', 'banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [27]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [29]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [31]:
numbers = [1,2,3,'4', True, [1,2,3]]
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [33]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5],
              [11,12,13,14,15],
              [91,92,93,94,95]]
len(numbers_2d), len(numbers_2d[0]) # 리스트 갯수

(3, 5)

In [36]:
numbers_2d[1][1]

12

In [39]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 11	1행1열 : 12	1행2열 : 13	1행3열 : 14	1행4열 : 15
2행0열 : 91	2행1열 : 92	2행2열 : 93	2행3열 : 94	2행4열 : 95

## 1.2 기본 정보 조회

In [44]:
numbers = [1,12,3,4,5]
numbers_2d = [[100, 0, 1, 2, 3],
              [9, 100, 110, 102, 130],
              [59, 100, 130]]

In [42]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 2

In [43]:
#최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [45]:
# 2차원 list의 min() : 부분 리스트 중에서 첫요소가 가장 작은 값
#             max() : 부분 리스트 중에서 첫요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 110, 102, 130], [100, 0, 1, 2, 3])

In [46]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'banana', 'orange']
min(fruits), max(fruits)

('banana', 'orange')

In [51]:
# 정렬하기
numbers = [1,12,3,14,5]
print('오름차순정렬 : ', sorted(numbers))
print('내림차순정렬 : ', sorted(numbers, reverse=True))
print('합 : ', sum(numbers))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)

오름차순정렬 :  [1, 3, 5, 12, 14]
내림차순정렬 :  [14, 12, 5, 3, 1]
합 :  35
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 14, 5]

## 1.3 요소 추가

In [2]:
# + : 두 리스트 연결
# * : 리스를 곱한 수만큼 반복
# append() : 요소 맨 뒤에 추가
# extend() : 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [3]:
numbers = [1,2,3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [4]:
numbers = [1,2,3]
print(3 * numbers) # 곱한 수 만큼 list 반복
print(numbers *3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [6]:
numbers.append([5,6,7]) # 맨 뒤에 요소 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [8]:
num = [1, 2, 3]
num.extend([4,5,6]) # 요소별로 맨뒤에 각기 추가
num

[1, 2, 3, 4, 5, 6]

In [9]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [10]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [11]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [12]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 데이터의 갯수 반환

In [13]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

In [14]:
numbers.count(2)

2

In [15]:
numbers.count(9)

0

In [16]:
9 in numbers # 9가 numbers의 요소인지 여부

False

In [17]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2) # 처음(0인덱스)부터 2가 나오는 위치

1

In [18]:
numbers.index(2, 2) # 2번째부터 2가 처음 나오는 위치

5

In [19]:
# 9가 numbers 리스트의 요소에 있는지 여부를 검사
print(numbers.count(9))
print(9 in numbers)

0
False

In [20]:
numbers.index(9)

ValueError: 9 is not in list

In [21]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 요소에 표함되지 않습니다')

9가 요소에 표함되지 않습니다

In [22]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

In [24]:
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [27]:
safe_index(numbers, 9)

-1

In [28]:
numbers[20] # 벗어난 인덱싱시 에러

IndexError: list index out of range

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : list에서 원하는 index의 데이터를 추출

- 인덱스의 범위를 벗어난 값도 에러나지 않음
- [from:stop:step] from부터 stop앞까지 step씩 증가하는 index값 추출
        from 생략시 처음, stop 생략시 끝, step생략시 1. 모두 생략 가능
- 인덱스는 음수 가능 <br><br>

2. <font color="red">리스트 컴프리헨션</font> : list에서 원하는 데이터 추출

In [32]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[0:100])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [36]:
# 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 액세스
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 추출
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [37]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end='\t')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [38]:
# ex1. numbers에서 10이상 요소만 추출
[i for i in numbers if i>=10]

[10, 12, 13, 18, 19, 20]

In [39]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [40]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [42]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [43]:
# ex4. 리스트의 값의 두배로 추출
L = [1,2,3,4,5]
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [44]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# 슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [50]:
# 수정하려는 요소의 갯수가 맞지 않으면 에러
numbers[::2] = [1, 2, 3, 3, 3, 3, 3]

ValueError: attempt to assign sequence of size 7 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제

In [54]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop(0))
print('삭제한 후 numbers :', numbers)

삭제한 데이터 : 5
삭제한 후 numbers : [1, 2, 3, 4]
삭제한 데이터 : 4
삭제한 후 numbers : [1, 2, 3]
삭제한 데이터 : 1
삭제한 후 numbers : [2, 3]

In [58]:
numbers = [0,1,2,3,4,5]
print(numbers.remove(3)) # remove()는 반환값이 없고, 해당 데이터 삭제만
print(numbers)

None
[0, 1, 2, 4, 5]

In [59]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [60]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 데이터입니다')

해당 데이터는 없는 데이터입니다

In [61]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다')

In [62]:
safe_remove(numbers, 9)

해당 데이터는 없는 아이템입니다

In [64]:
numbers = [0,1,2,3,4,5]
del numbers[2] # 2번째 index 요소 삭제
print('삭제 후:', numbers)

삭제 후: [0, 1, 3, 4, 5]

In [65]:
del numbers # 변수 삭제

In [66]:
numbers

NameError: name 'numbers' is not defined

## 1.8 정렬하기

In [78]:
numbers = [9, 5, 0, 8, 6]
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본정렬은 오름차순)
numbers

[9, 8, 6, 5, 0]

In [76]:
numbers = numbers[::-1] # 오름차순 결과를 내림차순으로
numbers

[9, 8, 6, 5, 0]

In [79]:
numbers = [9, 5, 0, 8, 6]
numbers.reverse() # 리스트를 역순으로 변경
numbers

[6, 8, 0, 5, 9]

In [80]:
numbers.sort(reverse=True) # 내림차순 정렬
numbers

[9, 8, 6, 5, 0]

## 1.9 리스트 복제

In [82]:
# 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers # 얕은 복사
new_numbers.sort()
print('원본 :', numbers)
print('정렬본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('정렬본 주소 :', id(new_numbers))

원본 : [1, 5, 6, 9]
정렬본 : [1, 5, 6, 9]
원본 주소 : 1828163904640
정렬본 주소 : 1828163904640

In [83]:
# 깊은 복사(복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print('numbers :', numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers 주소 :', id(new_numbers))

numbers : [5, 6, 1, 9]
new_numbers : [9, 6, 5, 1]
numbers 주소 : 1828163224832
new_numbers 주소 : 1828146948352

In [86]:
city = ['서울', '부산', '대전', '대구', '인천', '광주', '제주']
temp = city.copy()
temp.sort()
print('정렬전 :', ' '.join(city))
print('정렬후 :', ', '.join(temp))

정렬전 : 서울 부산 대전 대구 인천 광주 제주
정렬후 : 광주, 대구, 대전, 부산, 서울, 인천, 제주

# 2절. 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [94]:
city = ('서울', '부산', '인천', '목포')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [88]:
', '.join(city)

'서울, 부산, 인천, 목포'

In [91]:
l = ['서울'] # 요소가 하나 있는 리슽
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [95]:
city = ('서울')# 요소가 하나 있는 튜플(X)
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [96]:
city = ('서울', ) # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [ ]:
a, b = 10, 20
# (a, b) = (10, 20)

In [97]:
numbers = 1,2,3 # numbers = (1, 2, 3)
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [99]:
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음

In [102]:
min(numbers), max(numbers), len(numbers)

(1, 3, 3)

In [103]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2)

2

In [104]:
numbers[0:3]

(0, 1, 2)

In [105]:
numbers.index(2) # 처음부터 2가 처음 나오는 곳의 index

2

In [106]:
numbers.index(2, 3) # 3번째 부터 2가 나오는 index

6

In [107]:
numbers.index(9)

ValueError: tuple.index(x): x not in tuple

In [108]:
# numbers안에 9 요소가 있는 여부 
print(numbers.count(9))
print(9 in numbers)

0
False

In [109]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [110]:
safe_index(numbers, 9)

-1

In [112]:
numbers = (1,2,3)
numbers + numbers # 연결

(1, 2, 3, 1, 2, 3)

In [113]:
numbers * 3 # 반복

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [114]:
# ex. 짝수 요소들을 추출하여 제곱한 리스트를 출력하시오
numbers = (1, 2, 3, 4, 5, 6)
[x**2 for x in numbers if x%2==0]

[4, 16, 36]

# 3절. 딕셔너리
cf. 자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 list는 사용불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키의 값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원 안 함

In [117]:
dic = {'name':'홍길동', 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [119]:
len(dic) # 데이터 요소의 갯수

3

In [120]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [121]:
my_favorite['fruit']

'apple'

In [122]:
my_favorite.get('fruit')

'apple'

In [124]:
# print(my_favorite['people']) # 키목록에 없는 데이터를 인덱스로 참조시 에러
print(my_favorite.get('people')) #없는 키를 get함수로 참조시 None

None

In [132]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동'
print('people 키 추가 후 :', my_favorite)
print('데이터 갯수 : ', len(my_favorite))
# del my_favorite['sport'] # 'sport':'golf' 제거
# del(my_favorite['sport'])
my_favorite.pop('sport')
print('sport 제거 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 키 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
데이터 갯수 :  4
sport 제거 후 : {'fruit': 'mango', 'number': 12, 'people': '홍길동'}

In [133]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [136]:
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print("{}번째 : {}\t".format(idx, my_tuple[idx]), end="")
print()
for idx, value in enumerate(my_tuple):
    print('{}번째 : {}'.format(idx, value), end='\t')

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [137]:
# for문을 이용한 딕셔너리 출력
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [142]:
# 비추
for key in my_dic:
    print("{}:{}".format(key, my_dic[key]), end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [143]:
# 딕셔너리에서는 enumerate 사용에 의미가 없음
for idx, value in enumerate(my_dic):
    print('{} : {}'.format(idx, value))

0 : name
1 : age
2 : tel

In [144]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [145]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [146]:
my_dic.items() # 키-값의 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [147]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [148]:
for key, value in my_dic.items():
    print("{} : {}\t".format(key, value), end='')

name : 홍길동	age : 30	tel : 010-9999-9999

In [149]:
# in 연산자
t = (10, 20, 30)
30 in t
# list, tuple, set에서의 in연산자는 요소가 있는 여부 반환

True

In [150]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}
'name' in my_dic
# 딕셔너리에서의 in연산자는 키가 있는 여부 반환

True

In [151]:
'홍길동' in my_dic

False

In [155]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite # 얕은 복사(할당)
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))

my_favorite의 주소 : 1828164867264
new_favorite의 주소 : 1828164867264

In [153]:
new_favorite['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}

In [157]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy() # 깊은 복사(복제)
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

my_favorite의 주소 : 1828165076992
new_favorite의 주소 : 1828165089728
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서x)
- 중괄호({key' : 'value'})나 set()함수를 이용해서 셋 생성 : set([1,2]), set(('name' : '홍'))
- 추가 : add(), update()
- 집합연산자 : &-교집합, |합집합, -차집합
- 삭제 : remove()

In [4]:
fruits = {'banana', 'orange', 'apple', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [5]:
s1 = set([1, 2, 3, 1, 1, 1, 1, 1, 1])
s1

{1, 2, 3}

In [10]:
s2 = set((1, 2,  3, 1))
s2

{1, 2, 3}

In [12]:
# set 함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s3 = set({'name' : '홍', 'age' : 33, 'add' : '서울' })
s3

{'add', 'age', 'name'}

## 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가, list, dic, set 유형은 add()함수 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dic 사용시 key만 적용
        
        cf. list의 extend()

In [13]:
s2.add(4)
s2.add(5)
s2.add((6,7,8))
s2

{(6, 7, 8), 1, 2, 3, 4, 5}

In [14]:
s2.add(0)
s2

{(6, 7, 8), 0, 1, 2, 3, 4, 5}

In [15]:
s2 = {1,2,3}
s2.add(False)
s2

{False, 1, 2, 3}

In [16]:
s2.update((4,5,6))
s2

{False, 1, 2, 3, 4, 5, 6}

In [18]:
s2.update({'name' : '홍'})
s2

{1, 2, 3, 4, 5, 6, False, 'name'}

In [19]:
# 삭제 : remove
s1 = {1, 2, 3, 4, 1, 1}
s1

{1, 2, 3, 4}

In [20]:
s1.remove(2)
s1

{1, 3, 4}

In [21]:
s1.remove(9)
s1

KeyError: 9

In [23]:
if 9 in s1:
    s1.remove(9)
else:
    print('없다고')

없다고

In [24]:
def safe_remove(data, remove_item):
    if remove_item in data:
        data.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다')

In [25]:
safe_remove(s1, 9)

해당 데이터는 없는 아이템입니다

In [26]:
s1

{1, 3, 4}

In [27]:
# 논리값 False는 0으로 삭제할 수 있으며, True는 1로 삭제할 수 있음
# 논리값 0은 False로 삭제할 수 있으며, 1dms True로 삭제할 수 있음
s1.remove(True)
s1

{3, 4}

## 합집합(|), 교집합(&), 차집합(-)

In [31]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 =', s1)
print('s2 =', s2)
print('s1|s2 =', s1|s2 )
print('s1&s2 =', s1&s2 )
print('s1-s2 =', s1-s2 )

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1-s2 = {1, 2}

In [33]:
names = {'길자', '순자', '길동'}
print(names)

{'길자', '길동', '순자'}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 셋을 for문에 사용시

In [34]:
list(enumerate(names))

[(0, '길자'), (1, '길동'), (2, '순자')]

In [35]:
for no, name in enumerate(names):
    print("{}.{}".format(no,name), end='\t')

0.길자	1.길동	2.순자

In [40]:
names = ['순자', '길동', '길자']

for idx, name in enumerate(names):
    print("{}. {}".format(idx+1, name))

1. 순자
2. 길동
3. 길자

In [48]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']
for idx in range(len(names)):
   print("{}.{}의 연락처는 {}이고 {}에 살아요".format(idx+1, names[idx], \
                                           tels[idx], adds[idx]))

1.순자의 연락처는 010-9999-9999이고 서울에 살아요
2.길동의 연락처는 010-8888-8888이고 인천에 살아요
3.길자의 연락처는 010-7777-7777이고 판교에 살아요

In [124]:
my_dic = {'name' : '홍', 'age' : 33, 'add' : '신림'}
for data in my_dic.values():
    print(data)
for key, value in my_dic.items():
    print("{}:{}".format(key,value))

홍
33
신림
name:홍
age:33
add:신림

In [52]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍')), (1, ('age', 33)), (2, ('add', '신림'))]

In [127]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}. {} : {}".format(idx+1, key, value))

1. name : 홍
2. age : 33
3. add : 신림

In [128]:
for idx, value in enumerate(my_dic.values()):
    print("{}: {}".format(idx+1, value))

1: 홍
2: 33
3: 신림

# 연습문제

In [110]:
# 다음리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers=[1,2,3,4,5,6,7,8,9,10]

In [66]:
# 1. 숫자 100을 맨 뒤에 추가하시오
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [64]:
# 2.다음 리스트를 numbers리스트 맨 뒤에 추가하세요
numbers=[1,2,3,4,5,6,7,8,9,10]
data = [200,300,400,500]
numbers.extend(data)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500]

In [72]:
# 3. 처음 다섯 개 숫자만 출력하세요
numbers=[1,2,3,4,5,6,7,8,9,10,100,200,300,400,500]
print(numbers[:5])

[1, 2, 3, 4, 5]

In [73]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
[data for data in numbers if data%2==0]

[2, 4, 6, 8, 10, 100, 200, 300, 400, 500]

In [83]:
# 5.짝수번째 데이터를 모두 0으로 바꾸세요
numbers=[1,2,3,4,5,6,7,8,9,10,100,200,300,400,500]
for i in range(0, len(numbers), 2):
    numbers[i] = 0
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [89]:
# 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers.reverse()
numbers

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [88]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

In [92]:
# 7. address값을 출력하세요
print(member_info['address'])

서울시 마포구

In [96]:
# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요.
print(member_info['score'])
del member_info['score']
member_info

90

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [99]:
# 9. Address를 “서울시 서대문구”로 변경하세요.
member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [102]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
member_info_list = list(member_info.items())
print(member_info_list)

[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

In [106]:
# 1.다음 코드를 실행했을 때 출력되는 것은?
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [ ]:
# 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
# ①   print(list(range(10)))           - [0,1,2,3,4,5,6,7,8,9]
# ②   print(list(range(5,10)))        - [5,6,7,8,9]
# ③   print(list(range(10,0,-1)))  - [9,8,7,6,5,4,3,2,1,0]
# ④   print(list(range(10,20,2))) – [10,12,14,16,18]

# 정답: 3

In [107]:
# 2번 해석
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [108]:
# 3. 다음 구문에 의해 출력되는 것은?
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

# 출력값 : 1

1

In [114]:
# 4.다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [115]:
# 5.다음 구문을 실행할 때 결과는 ?
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [116]:
# 6.다음 구문을 실행할 때 결과는 ?
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
print(numbers)

#실행 값:[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [117]:
# 7.다음 구문을 실행할 때 결과는 ?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

# 실행 값:[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [ ]:
# 8.다음 데이터에서 10을 출력할 수 없는 구문은?
# my_dic = {“a”:10, “b”:20, “c”:30}
# ① my_dic[0]
# ② my_dic[‘a’]
# ③ list(my_dic.items())[0][1]
# ④ list(my_dic.values())[0] 
# ⑤ my_dic.get(‘a’)

# 정답 : 1

In [120]:
# 9.다음 프로그램의 결과를 출력하시오
fruits = ['apple', 'banana', 'orange']
x, y, z = fruits
print(x)
print(y)
print(z)

# 출력값 : apple banana orange

apple
banana
orange

In [122]:
# 10.다음 프로그램의 결과를 출력하시오
fruits = ['apple', 'banana', 'orange']
print(len(fruits))

# 출력값 : 3

3

In [ ]:
# 11.파이썬에서 함수를 만들기 위해 선언하는 단어는?

# 정답 : def