In [28]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:90%;}
div.CodeMirror {font-family:Consolas; font-size:9pt;}
div.output {font-size:9pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:9pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:9pt;padding:5px;}
div.CodeMirror-lines > div {padding-left:10px;}
</style>
"""))

<font color="red" size="6"><b>ch10. 데이터베이스 연동</b></font>

# 1절. SQLite 데이터 베이스 연결
- SQLite 데이터 베이스는 별도의 DBMS가 필요가 없이 SQL을 이용햐여 DB엑세스를 할 수 있도록 만든 간단한 디스크 기반의 DB를 제공
- C 라이브러리
- SQLite는 프로토타입을 만들 때 사용
- 프로젝트 단계 : 분석 > 설계 > 구현 > 테스트 > 고객에게 배포 > 유지보수
                 프로토타입       시제품            완제품(Oracle, MySQL, Maria, ...)
  [DB browser for SQLite](https://sqlitebrowser.org/dl/)

### 1.1 SQLite Browser 설치 및 sqlite3 패키지 load

In [4]:
import sqlite3
sqlite3.sqlite_version

'3.40.1'

In [5]:
import pandas as pd
pd.__version__

'1.5.3'

In [6]:
import numpy as np
np.__version__

'1.23.5'

### 1.2 데이터베이스 연결
- SQLite로 DB연결시, DB파일이 있으면 연결, 없으면 빈 DB파일로 생성

In [7]:
# DB연결
conn = sqlite3.connect('data/ch10_example.db')
conn

In [8]:
# 커서 객체 생성, 커서는 SQL문 실행시키고, 결과데이터를 조회 (select, 그외)하는데 사용하는 객체
cursor = conn.cursor()
cursor

In [10]:
cursor.execute('''
    CREATE TABLE MEMBER (
            NAME TEXT,
            AGE INT,
            EMAIL TEXT
    )
''')

OperationalError: table MEMBER already exists

In [11]:
cursor.execute('DROP TABLE MEMBER')

In [12]:
cursor.execute('''
    CREATE TABLE MEMBER (
            NAME TEXT,
            AGE INT,
            EMAIL TEXT
    )
''')

In [13]:
cursor.execute('INSERT INTO MEMBER VALUES(\'홍길동\', 20, \'h@h.com\')')
print('수행 결과 행수 : ', cursor.rowcount)
sql = "INSERT INTO MEMBER VALUES('신길동', 25, 's@s.com')"
cursor.execute(sql)
print('수행 결과 행수 : ', cursor.rowcount)
cursor.execute('INSERT INTO MEMBER VALUES(\'신림동\', 30, \'l@h.com\')')
print('수행 결과 행수 : ', cursor.rowcount)

수행 결과 행수 :  1
수행 결과 행수 :  1
수행 결과 행수 :  1

In [14]:
conn.commit()

In [15]:
# SQL전송결과는 cursor가 가림
cursor.execute("SELECT * FROM MEMBER ORDER BY NAME")

In [16]:
#insert, update, delete문 실행결과 : cursor.rowcount
#select문 실행결과를 받는 함수들
    ## fetchone(): 결과를 한행씩 받을 때 (튜플)
    ## fetchall(): 결과를 모두 받을 때 (튜플 list)
    ## fetchmany(n): 결과를 n행 받을 때 (튜플 list)
print(cursor.fetchall())

[('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com'), ('홍길동', 20, 'h@h.com')]

In [17]:
print(cursor.fetchall())

[]

In [18]:
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER ORDER BY AGE")
members = cursor.fetchall()
members

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com')]

In [19]:
for member in members:
    print(member)

('홍길동', 20, 'h@h.com')
('신길동', 25, 's@s.com')
('신림동', 30, 'l@h.com')

In [20]:
# 한줄씩 읽기
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER ORDER BY AGE")
member_list = []
while True:
    member = cursor.fetchone() # SQL문 수행 결과 한 줄 가져오기
    if member is None:
        break
    #print(member)
    member_list.append({'name':member[0], 'age':member[1], 'email':member[2]})

In [21]:
member_list

[{'name': '홍길동', 'age': 20, 'email': 'h@h.com'},
 {'name': '신길동', 'age': 25, 'email': 's@s.com'},
 {'name': '신림동', 'age': 30, 'email': 'l@h.com'}]

In [22]:
# 최상위 n행 가져오기
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER ORDER BY AGE")
for member in cursor.fetchmany(10):
    print(member)

('홍길동', 20, 'h@h.com')
('신길동', 25, 's@s.com')
('신림동', 30, 'l@h.com')

In [33]:
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name = name
        self.age = age
        self.email = email
    def as_dic(self):
        return {'name':self.name,
               'age':self.age,
               'email':self.email}
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row): #튜플 데이터를 매개변수로 받아 Member형 객체로 Return
    return Member(row[0], row[1], row[2])

In [28]:
dbreadmember = ('홍길동', 20, 'h@h.com')
m = to_member(*dbreadmember) # 튜플 언패킹
print(m)
print(m.as_dic())

홍길동	20	h@h.com
{'name': '홍길동', 'age': 20, 'email': 'h@h.com'}

In [29]:
# DB검색결과를 객체 list로
cursor.execute('SELECT NAME, AGE, EMAIL FROM MEMBER')
member_list = []
members = cursor.fetchall()
#print(members)
for member in members:
    member_list.append(to_member(*member))

In [23]:
type(members[0]), type(member_list[0])

(tuple, dict)

In [31]:
for member in member_list:
    print(member)

홍길동	20	h@h.com
신길동	25	s@s.com
신림동	30	l@h.com

In [38]:
cursor.close()
conn.close()

### 1.3 SQL구문에 따라 파라미터 사용하기
- qmark(DB에 따라 불가한 경우가 있음)
- named(*추천)

In [33]:
conn = sqlite3.connect('data/ch10_example.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN('홍길동', '신길동')")
cursor.fetchall()

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [34]:
# 파라미터 사용하기 : qmark 방법 이용
name1 = input('검색할 이름 1 : ')
name2 = input('검색할 이름 2 : ')
names = (name1, name2)
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?,?)", (name1, name2))
cursor.fetchall()

검색할 이름 1 : 홍길동
검색할 이름 2 : 신림동

[('홍길동', 20, 'h@h.com'), ('신림동', 30, 'l@h.com')]

In [35]:
# 파라미터 이용하기 : named활용
name = input('검색할 이름은 > ')
cursor.execute("SELECT * FROM MEMBER WHERE NAME=:name", {'name':name})
members = cursor.fetchall()
if len(members):
    print(members)
else:
    print('해당 이름의 데이터가 없습니다')

검색할 이름은 > 신길동
[('신길동', 25, 's@s.com')]

In [36]:
# 파라미터 사용하기 : named방법 이용
name1 = input('검색할 이름 1 : ')
name2 = input('검색할 이름 2 : ')
names = {'name1':name1, 'name2':name2}
# cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1,:name2)", {'name1':name1, 'name2':name2})
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1,:name2)", names)
cursor.fetchall()

검색할 이름 1 : 신길동
검색할 이름 2 : 신림동

[('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com')]

In [30]:
# MEMBER 테이블에 입력(사용자로부터 이름, 나이, 메일을 입력받아 insert)
try:
    name = input('입력할 이름은 : ')
    age = int(input('입력할 나이는 : '))
except ValueError:
    print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은 : ')
inputdata = {'name':name, 'age':age, 'email':email} # named방식 추천
inputdata2 = (name,age,email) #qmark방식
# cursor.execute('INSERT INTO MEMBER VALUES (?, ?, ?)', inputdata2)
cursor.execute('INSERT INTO MEMBER VALUES(:name, :age, :email)', inputdata)
conn.commit()
if cursor.rowcount == 1:
    print('저장완료')

입력할 이름은 : 김기동
입력할 나이는 : 34
입력할 메일은 : d@d.com
저장완료

In [31]:
cursor.execute('SELECT * FROM MEMBER')
cursor.fetchall()

[('홍길동', 20, 'h@h.com'),
 ('신길동', 25, 's@s.com'),
 ('신림동', 30, 'l@h.com'),
 ('김길동', 18, 'l@l.com'),
 ('김기동', 34, 'd@d.com')]

In [34]:
try:
    name = input('입력할 이름은 : ')
    age = int(input('입력할 나이는 : '))
except ValueError:
    print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은 : ')

newMember = Member(name, age, email)
cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)',newMember.as_dic())
conn.commit()
if cursor.rowcount == 1:
    print('입력성공')

입력할 이름은 : 김
입력할 나이는 : 356
입력할 메일은 : l@l.com
입력성공

In [56]:
# member 테이블에 데이터를 n번 입력하고
# 이름에 0을 입력할 때까지 이름, 나이, 메일을 받아 insert
# 이름에 0을 입력하면 이때까지 입력한 데이터들을 출력하고 몇명을 입력했는지 출력

member_list = [] # 입력한 member들이 저장될 list 변수

while True:
    try:
        name = input("이름을 입력하세요 (종료를 원하면 0을 입력) : ")
        if name == "0":
            break
        age = int(input("나이를 입력하세요 : "))
        email = input('입력할 메일은 : ')
    except ValueError:
            print('유효하지 않은 나이를 입력한 경우 18세로 초기화')
            age=18
            email = input('입력할 메일은 : ')
    newMember = {'name':name, 'age':age, 'email':email}
    member_list.append(newMember)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember)
conn.commit()
print('입력할 데이터는 ', len(member_list), '명입니다', sep='')
for member in member_list:
    print("{}\t{}\t{}".format(member['name'], member['age'], member['email']))

이름을 입력하세요 (종료를 원하면 0을 입력) : 가가가
나이를 입력하세요 : 34
입력할 메일은 : g@g.com
이름을 입력하세요 (종료를 원하면 0을 입력) : 0
입력할 데이터는 1명입니다
가가가	34	g@g.com

In [59]:
member_list = [] # 입력한 member들이 저장될 list 변수

while True:
    try:
        name = input("이름을 입력하세요 (종료를 원하면 0을 입력) : ")
        if name == "0":
            break
        age = int(input("나이를 입력하세요 : "))
        email = input('입력할 메일은 : ')
    except ValueError:
            print('유효하지 않은 나이를 입력한 경우 18세로 초기화')
            age=18
            email = input('입력할 메일은 : ')
    newMember = {'name':name, 'age':age, 'email':email}
    member_list.append(newMember)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember)
conn.commit()
print('입력한 자료는 다음과 같이 {}명입니다'.format(len(member_list)))
print('이름\t나이\t메일')
for member in member_list:
    print(member)

이름을 입력하세요 (종료를 원하면 0을 입력) : 이상혁
나이를 입력하세요 : 30
입력할 메일은 : faker@faker.com
이름을 입력하세요 (종료를 원하면 0을 입력) : 0
입력한 자료는 다음과 같이 1명입니다
이름	나이	메일
{'name': '이상혁', 'age': 30, 'email': 'faker@faker.com'}

In [61]:
cursor.execute('SELECT * FROM MEMBER')
cursor.fetchall()

[('홍길동', 20, 'h@h.com'),
 ('신길동', 25, 's@s.com'),
 ('신림동', 30, 'l@h.com'),
 ('김길동', 18, 'l@l.com'),
 ('김기동', 34, 'd@d.com'),
 ('김', 356, 'l@l.com'),
 ('가가가', 34, 'g@g.com'),
 ('이상혁', 30, 'faker@faker.com')]

In [62]:
cursor.close()
conn.close()

### 2절. 오라클 데이터베이스 연결
[cx_oracle] (https://cx-oracle.readthedocs.io/en/latest/index.html)

In [66]:
import cx_Oracle

In [67]:
# conn 얻어오는 방법 1
oracle_dsn = cx_Oracle.makedsn(host="localhost", port=1521, sid='xe')
print(oracle_dsn)
conn = cx_Oracle.connect("scott", "tiger", dsn=oracle_dsn)
conn

(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))

DatabaseError: DPI-1047: Cannot locate a 64-bit Oracle Client library: "The specified module could not be found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

In [70]:
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email,grade,etc):
        self.name = name
        self.age = age
        self.email = email
        self.grade = grade
        self.etc = etc
    def as_dic(self):
        return {'name':self.name,
               'age':self.age,
               'email':self.email,
               'grade':self.grade,
               'etc':self.etc}
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email, self.grade, self.etc)
def to_member(*row): #튜플 데이터를 매개변수로 받아 Member형 객체로 Return
    return Member(row[0], row[1], row[2], row[3], row[4])